<!DOCTYPE html>
<html>
    <head>
        <!--Required Meta Tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        
        <!--Javascripts: Jquery & BootstrapJS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>General Practitioner Chat Client</title>
        
        <!--<script src="/socket.io/socket.io.js"></script>-->
        
        <script>
            var socket = io.connect('http://localhost:3000/');
            socket.on('news', function (data) {
                console.log(data);
                socket.emit('my other event', { my: 'data' });
            });
        </script>
    
    </head>
    
    <body>
        <div class="container mt-2 w-60 shadow rounded">
            
            <!--Chat App Heading-->
            <div class="container m-2 bg-light shadow">
                <h2 class="text-center text-primary font-weight-light">Welcome to General Practitioner Chat Client!</h2>
                <p class="font-weight-light text-center">Please select a profile to start chatting...</p>
            </div>
            
            <!--Choosing the profile for chat-->
            <div id="user-profile" class="container m-2 p-2 shadow rounded" style="background-color:rgb(244, 247, 248)" >
                    <label class="radio-inline px-3 font-weight-normal text-primary"><input type="radio" name="user" value=""> Doctor </label>
                    <label class="radio-inline px-3 font-weight-normal text-primary"><input type="radio" name="user" value=""> Patient </label>
            </div>
    
            <!--Chat Window = Chat Display + Chat Input-->
            <div id="chat-window" class="container m-2 p-2 shadow rounded" style="background-color:rgb(255, 241, 243)">
                
                <!--Chat Display-->
                <div class="row m-5">
                    <div id="chat-display" class="col-12 bg-light" style="min-height: 250px" ></div>
                </div>
                
                <!---Chat Input typing area & send button-->
                <div class="row m-5">
                    <div class="col-9">
                        <textarea id="chat-input" class="font-weight-light text-primary" rows="4" style="width: inherit"></textarea>
                    </div>
    
                    <div class="col-3">
                        <button class="btn btn-lg btn-success mt-5" name="send-msg" id="send">Send</button>
                    </div>
                </div>

            </div>
        </div>
    </body>
        
</html>